@keyframes flip {
	0%{
		transform: rotateX(0deg);
	}
	100%{
		transform: rotateX(360deg);
	}
}
@keyframes spin {
	0%{
		transform: rotateZ(0deg);
	}
	100%{
		transform: rotateZ(360deg);
	}
}
@keyframes jump {
	0%,100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(100px);
	}
}
@keyframes zoom {
	0%,100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(100px);
	}
}