@keyframes flip {
	0%{
		transform: rotateX(0deg);
	}
	100%{
		transform: rotateX(360deg);
	}
}
@keyframes spin {
	0%{
		transform: rotateZ(0deg);
	}
	100%{
		transform: rotateZ(360deg);
	}
}
@keyframes half-spin-start {
	0%{
		transform: rotateZ(0deg);
	}
	100%{
		transform: rotateZ(180deg);
	}
}
@keyframes half-spin-end {
	0%{
		transform: rotateZ(180deg);
	}
	100%{
		transform: rotateZ(360deg);
	}
}
@keyframes wiggle-vert {
	0%,100% {
		transform: translateY(0);
	}
	33%{
		transform: translateY(-150px);
	}
	66% {
		transform: translateY(150px);
	}
}
@keyframes wiggle-horiz {
	0%,100% {
		transform: translateX(0);
	}
	33%{
		transform: translateX(-150px);
	}
	66% {
		transform: translateX(150px);
	}
}
@keyframes scale-horiz {
	0%,100% {
		transform:scaleX(1);
	}
	50% {
		transform:scaleX(.70);
	}
}
@keyframes scale-vert {
	0%,100% {
		transform:scaleY(1);
	}
	50% {
		transform:scaleY(.70);
	}
}

